
<%= form_for([@issue, @issue.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :content %>
  </div>
	<div class="actions">
    	<%= f.submit %>
  </div>
<% end %>