<h1>Welcome</h1>
 

 <%=link_to "Home", :controller => "welcome", :action => "index"  %>
 <%=link_to "Projects", :controller => "projs", :action => "index"  %>
 <%=link_to "Issues", :controller => "issues", :action => "index"  %>
